.taust {
    background-color: rgb(235, 204, 204);
    max-width: auto;



}



.peamine {
    /*Kõikide containerite laius*/

    width: 70%;



}

.vert_keskel {
    /* Ostukorvi ikoon vertiklaalselt keskele*/
    display: flex;
    align-items: center;
}


.pilt {

    max-width: 50%;
    height: auto;
    display: flex;
    align-items: center;


}

.tekst {
    display: flex;
    align-items: center;
    background-color: black;
}