.taust { /*Päise taust*/
    background-color: rgb(235, 204, 204);
    max-width: auto;

}



.peamine {
    /*Kõikide containerite laius*/

    width: 70%;



}

.vert_keskel {
    /* Ostukorvi ikoon vertiklaalselt keskele*/
    display: flex;
    align-items: center;
}


.suurus {
    max-width: 80%;
    max-height: 80%;
}

.tekst {
    display: flex;
    align-items: center;
    background-color: black;
}

.footer { /*jalus iga lehe all*/


    padding-top: 3%;
    padding-bottom: 1%;
    background-color: black;
    color: white;
    text-align: center;
    /*
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;



*/

}


.ruumi { /*Sisselogimis aknale ruumi ümber*/


    padding-top: 5%;
    padding-bottom: 5%;

}

